pandas のライブラリをインポートします。

In [1]:
import pandas as pd

`table1.csv` を読み込んで、 `df1` とします。

**（⚠️ パスは自分の環境に合わせて変えてください！）**

In [10]:
df1 = pd.read_csv('/content/drive/My Drive/2020 L-1　情報科学・数理科学を用いた医学研究/06/table1.csv')

df1

   Gene_ID  Case  Control
0      104    10      400
1      905   980       50
2      721    41       39
3       98  1200       40

`table2.csv` を読み込んで、 `df2` とします。

**（⚠️ パスは自分の環境に合わせて変えてください！）**

In [11]:
df2 = pd.read_csv('/content/drive/My Drive/2020 L-1　情報科学・数理科学を用いた医学研究/06/table2.csv')

df2

     Pathway  Gene_ID
0  Pathway A      104
1  Pathway B      501
2  Pathway C      721
3  Pathway B       98
4  Pathway C      110

以下は、inner join の例です。

In [15]:
df3 = pd.merge(df1, df2, how='inner', on='Gene_ID')

df3

   Gene_ID  Case  Control    Pathway
0      104    10      400  Pathway A
1      721    41       39  Pathway C
2       98  1200       40  Pathway B

以下は、 left join の例です。

In [17]:
df4 = pd.merge(df1, df2, how='left', on='Gene_ID')

df4

   Gene_ID  Case  Control    Pathway
0      104    10      400  Pathway A
1      905   980       50        NaN
2      721    41       39  Pathway C
3       98  1200       40  Pathway B

以下は、 right join の例です。

In [19]:
df5 = pd.merge(df1, df2, how='right', on='Gene_ID')

df5

   Gene_ID    Case  Control    Pathway
0      104    10.0    400.0  Pathway A
1      721    41.0     39.0  Pathway C
2       98  1200.0     40.0  Pathway B
3      501     NaN      NaN  Pathway B
4      110     NaN      NaN  Pathway C

以下は、 outer join の例です。

In [20]:
df6 = pd.merge(df1, df2, how='outer', on='Gene_ID')

df6

   Gene_ID    Case  Control    Pathway
0      104    10.0    400.0  Pathway A
1      905   980.0     50.0        NaN
2      721    41.0     39.0  Pathway C
3       98  1200.0     40.0  Pathway B
4      501     NaN      NaN  Pathway B
5      110     NaN      NaN  Pathway C